body {
	background-color: #F0F3F4;
}

#inicio {
	color: #fff;
	background-color: #ff8000;
	font-size: 20px;
}

.titulo1 {
	padding-top: 10px;
}


h2	{
	color: #515A5A;
}

.btn-warning {
    color: #212529;
    background-color: #F7A727;
    border-color: #F7A727;

    border-radius: 0rem;

    width: 300px;

    font-size: 20px;
}

.btn-warning:hover {
    background-color: #F7A727;
    border-color: #F7A727;
}

.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show>.btn-warning.dropdown-toggle {
    color: #212529;
    background-color: #F7A727;
    border-color: #F7A727;
}

.form-control {
	border: 0;
	border-radius: 0;	
}

.form-control:focus {
    color: #FF0040;
    background-color: #fff;
    border: 0;
    outline: 0;
    box-shadow: 0 0 0 0rem #fff;
    border-bottom: 2px solid #FF0040;
}

#login{
    width: 40%;
}
.error{
	color: red;
}

/*para dispositivos pequeños*/
@media (min-width: 319.98px) and (max-width: 767.98px) { 
    
    #login{
        width: 100%;
    }

}