/*body {
	background-color: #F0F3F4;
}*/

#inicio {
	color: #fff;
	background-color: #ff8000;
	font-size: 20px;
}

.titulo1 {
	padding-top: 10px;
}


h2	{
	color: #515A5A;
}

.btn-warning {
    color: #212529;
    background-color: #F7A727;
    border-color: #F7A727;

    border-radius: 0rem;

    width: 300px;

    font-size: 20px;
}

.btn-warning:hover {
    background-color: #F7A727;
    border-color: #F7A727;
}

.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show>.btn-warning.dropdown-toggle {
    color: #212529;
    background-color: #F7A727;
    border-color: #F7A727;
}


.error{
	color: red;
}

/*formluario de registro*/

/*#formRegistro {
	width: 40%;
}*/

label {
	color: #A4A4A4;
}

.form-control {
	border: 0;
	border-radius: 0;
	color: #A4A4A4;
	border-bottom: 1px solid #A4A4A4;
	
}

.form-control:focus {
    color: #FF0040;
    background-color: #fff;
    border: 0;
    outline: 0;
    box-shadow: 0 0 0 0rem #fff;
    border-bottom: 2px solid #FF0040;
}

/*estilos nuevos*/
.skin-blue-light .main-header .logo {
    background-color: #ff8000;

}

.skin-blue-light .main-header .navbar {
    background-color: #ff8000;
}

.skin-blue-light .main-header .logo:hover {
    background-color: #ff8000;
}

.skin-blue-light .main-header li.user-header {
    background-color: #ff8000;
}

/*end of estilos nuevos*/

/*textarea {
	border-radius: 2px;
	width: 450px;
}


/*para dispositivos pequeños
@media (min-width: 319.98px) and (max-width: 767.98px) { 
	
	#formRegistro {
		width: 100%;
	}

	textarea {
		width: 330px;
	}

}*/
